[Unit]
Description=Run spothintaservice every 5 min

[Timer]
OnBootSec=5min
OnCalendar=*-*-* *:0/5:00
Persistent=true
Unit=spothintamqtt.target

[Install]
WantedBy=timers.target