[Unit]
Description=Get spot-hinta and publish mqtt
After=network.target
Wants=spothintamqtt.timer

[Service]
Type=simple
User=runner
WorkingDirectory=/home/runner/spothintamqtt
ExecStart=/home/runner/spothintamqtt/venv/bin/python3 /home/runner/spothintamqtt/main.py

[Install]
WantedBy=spothintamqtt.target
