[Unit]
Description=Get spot-hinta and publish mqtt
After=network.target
Wants=spothintamqtt.timer

[Service]
Type=simple
User=runnner
WorkingDirectory=/home/runner/spothintamqtt
ExecStart=venv/bin/python3 main.py

[Install]
WantedBy=spothintamqtt.target